*{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
}
body{
	font-size:12px;
}
header{
	background-image:url(../images/menu-bg.jpg);
	background-size:100% 100%;
	border-bottom:2px solid #226DDD;
}
.logo{
	display:inline;
	margin-left:15px;
}
.logo img{
	height:75px;
	width:180px;
	margin:5px 5px;
}
.logo #img2{
	height:60px;
    width:250px;
	margin-top:30px;
}
.logo #abc{
	width:150px;
}
.nav{
	width:400px;
	float:right;
	display:inline;
}
.nav img{
	height:50px;
	margin-left:15px;
	border-radius:30px;
}
.nav p{
	margin-bottom:13px;
	color:white;
}
.nav a button{
	margin-top:40px;
	padding:4px 8px;
	background: #5da6d8;
	border-radius:3px;
	color:white;
}
.nav span{
	margin-left:30px;
}

/*侧边栏*/
.aside{
	margin:0;
	float:left;
	width:200px;
	height:1000px;
	background-image:url(../images/aside-bg.png);
	background-size:100% 100%;
}
#accordion{
	width:150px;
	margin:20px 25px;
}
#accordion h3{
	font-size:14px;
	height:50px;
}
#accordion ul{
	margin:0;
	text-align:center;
}
#accordion li{
	line-height:30px;
}
#accordion ul a{
	margin:0;
	display:block;
	height:25px;
	color:#fff;
}
#accordion ul a:hover{
	background-color:#89dcf8;
	color:#19466f;
}
#accordion li#active a{
	background-color:#89dcf8;	
	color:#056585;
}
#accordion span{
	margin:0;
}


/*内容*/
.article{
	margin-left:180px;
	height:1000px;
	background-image:url(../images/bg3.jpg);
	background-size:100% 100%;
}

/*页脚*/
footer{
	background-image:url(../images/aside-bg.png);
	background-size:100% 100%;
	border-top:2px solid #226DDD;
	height:100px;
     
}
footer p{
	text-align:center;
	margin-top:30px;
   
}
footer-d{
     position:absolute;
    left: 0px;
    top: 800px;
    margin:0px;
}
