/* 初始化 开始 */
*{margin:0; padding:0;}
ul,li{ list-style-type:none;}
body{ height:100;font-size:12px; font-family: 'Microsoft YaHei', arial, tahoma, sans-serif; line-height: 1.5; color: #666; min-width: 1200px;}
a,a:hover{ text-decoration:none;}
* img{border:none}
/* 初始化 结束*/
/*top 开始*/
/*Gallery*/
.prenews,.nextnews{ margin:20px 0 10px 0; text-indent:0;}
.nextnews{ margin:0 0 20px 0;}
.prenews a:hover{ color:#7b8f24; }
.nextnews a:hover{ color:#7b8f24; }
.prenews a,.nextnews a{ color:rgba(37, 35, 35, 0.83); /*color:#252323;*/}
.fullscreen{     z-index: 10000;  display: none;  width: 100%; height: 1340px; position: fixed; top: 0; left: 0; background-color:rgba(0,0,0,0.7)}
#playertv1,#playertv2,#playertv3,#playertv4,#playertv5{ position:inherit;}
.icp{ color:gray;}
.icp:hover{color:gray;}
#gallery {margin:0 auto;height:496px;overflow:hidden; z-index:1; }
.container_image{margin:0 auto;position:relative;width:100%;font-size:.8125em;}	
/*===== gallery =====*/
.roundabout-holder{width:1100px;height:496px;margin:0 auto;}
.roundabout-moveable-item {width: 646px;height:375px;cursor: pointer;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.08);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.roundabout-moveable-item img{width:100%;}
.roundabout-in-focus {border:1px solid rgba(0, 0, 0, 0.2);}
#player{ top:0;}
section{ position:relative; top:87px; left:0; width:100%; overflow:hidden;}
@media (min-width:1200px){
.backup{position:absolute; right:5px; bottom:110px; font-size:18px; color:#3c3c3c;}
.index-button{ position:fixed; right:20px; top:400px; z-index:999; margin-top:-100px; background-color:#7b8f24; width:75px; height:260px; text-align:center;top:360px;}
.index-button ul.index-button1 li{ height:55px; position:relative; cursor:pointer;padding-top:40px;}
.index-button img{margin-top:-50px;padding-top:50px;}

.index-button_content{ position:fixed; right:20px; top:400px; z-index:999; margin-top:-100px; background-color:#7b8f24; width:75px; height:260px; text-align:center;}
.index-button_content ul.index-button1_content li{ height:60px; position:relative; cursor:pointer;padding-top:80px;}
.index-button_content img{margin-top:-110px;padding-top:70px;}


.header{
	width:2000px;
	height:130px;
	background-image:url("../images/bg-top.jpg");
	text-align:center;
	margin-top:-150px;
	margin-left:-90px;

}
.header_content{
	width:2000px;
	height:130px;
	background-image:url("../images/bg-top.jpg");
	text-align:center;
	margin-top:-150px;
	margin-left:-80px;

}
.logo img{
	margin-left:-650px;
}
.logo_content img{
	margin-left:0px;
}
.top{position:fixed; left:0; top:150px; width:100%;  height:35px; z-index:9999;}

.nav_img img{
	margin-top:120px;
}
.banner{position:relative; margin:0 auto; width:1200px; height:87px;text-align:center;}

.picuter_many{text-align:center;}
.title{}
.top-right{text-align:center;width:1000px;background-color:red; }
.top-right .banner-top{ background-image:;background-repeat:repeat-x;position:absolute; top:95px; left:200px;}
.top-right ul li{  float:left; position:relative; margin-right:20px; width:89px; height:46px; font-size:16px;}
.top-right ul li a{ font-size:14px;height:35px; line-height:30px; display:block; color:#fff; text-align:center; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.top-right ul li a:hover{ -webkit-filter:opacity(.8); opacity:0.8; -moz-opacity:0.8; -ms-filter:opacity(0.8); -webkit-transition:all 0.3s ease-in-out;}
.banner-home{ background:none !important;}
}
@media (min-width:992px) and (max-width:1199px){
.backup{position:absolute; right:5px; bottom:110px; font-size:18px; color:#3c3c3c;}
.index-button{ position:fixed; right:0; top:50%; z-index:999; margin-top:-100px; background-color:#7b8f24; width:41px; height:170px;}
.index-button ul.index-button1 li{ height:55px; position:relative; cursor:pointer;}
.weibo,.weixin,.tianmao{ position:absolute; right:41px; top:0; display:none;}
.top{position:fixed; left:0; top:0; background:#7b8f24; width:100%;  height:87px; z-index:9999;}
.banner{position:relative; margin:0 auto; width:992px; height:87px;}
.banner .logo{ background:url(../images/logo.gif) no-repeat; width:220px; height:87px;}
.top-right{  /*margin-top:38px;*/ float:left;}
.top-right ul li ul li{margin-left:100px;}
.banner-top{ position:absolute; top:46px; right:;}
.top-right ul li{  float:left; position:relative; margin-left:200px; width:89px; height:46px; font-size:14px;}
.top-right ul li a{ height:35px; line-height:30px; display:block; color:#fff; text-align:center; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.top-right ul li a:hover{ -webkit-filter:opacity(.8); opacity:0.8; -moz-opacity:0.8; -ms-filter:opacity(0.8); -webkit-transition:all 0.3s ease-in-out;}
.banner-home{ background:none !important;}
	}
@media(max-width:991px){
	.backup{position:absolute; right:5px; bottom:110px; font-size:18px; color:#3c3c3c;}
.index-button{ position:fixed; right:0; top:50%; z-index:999; margin-top:-100px; background-color:#7b8f24; width:41px; height:170px;}
.index-button ul.index-button1 li{ height:55px; position:relative; cursor:pointer;}
.weibo,.weixin,.tianmao{ position:absolute; right:41px; top:0; display:none;}
.top{position:fixed; left:0; top:0; background:#7b8f24; width:100%;  height:87px; z-index:9999;}
.banner{position:relative; margin:0 auto; width:992px; height:87px;}
.banner .logo{ background:url(../images/logo.jpg) no-repeat; width:220px; height:87px;}
.top-right{  /*margin-top:38px;*/ float:left;}
.search-input{ border:1px solid #F1EFEF; border-radius:4px;  width:200px; height:16px; position:absolute; top:20px; right:9px; z-index:88 ; color:#c3c3c3;    height: 22px;
    line-height: 22px;
    text-indent: 1em;}
.search-btn{ cursor:pointer; background:url(../images/search.jpg) no-repeat right center; width:23px; height:15px; border:0px; border-radius:0px; position:absolute; top:22px; right:15px; z-index:99; height:22px; line-height:22px;}
.top-right .banner-top{ position:absolute; top:46px; right:0;}
.top-right ul li{  float:left; position:relative;  width:89px; height:46px; font-size:16px;}
.top-right ul li a{ height:35px; line-height:30px; display:block; color:#fff; text-align:center; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.top-right ul li a:hover{ -webkit-filter:opacity(.8); opacity:0.8; -moz-opacity:0.8; -ms-filter:opacity(0.8); -webkit-transition:all 0.3s ease-in-out;}
.banner-home{ background:none !important;}
	}
/*top 结束*/
<!--banner子菜单 开始-->
.banner-hotproduct,.banner-natural,.banner-case,.banner-about,.banner-vip,.banner-onlinestore,.banner-dynamic{position:relative;}
.banner-hotproduct1,.banner-natural1,.banner-case1,.banner-about1,.banner-vip1,.banner-onlinestore1,.banner-dynamic1{position:absolute; top:37px; left:-70px; width:228px;  z-index:100 ; background:#7b8f24; display:none;}
.banner-hotproduct1 ul li,.banner-natural1 ul li,.banner-case1 ul li,.banner-about1 ul li,.banner-vip1 ul li,.banner-onlinestore1 ul li,.banner-dynamic1 ul li{width:228px; height:43px; font:16px "Microsoft YaHei"; font-weight:normal; line-height:43px; text-align:center;}
.banner-hotproduct1 ul li a,.banner-natural1 ul li a,.banner-case1 ul li a,.banner-about1 ul li a,.banner-vip1 ul li a,.banner-onlinestore1 ul li a,.banner-dynamic1 ul li a{ display:block; height:43px; line-height:43px; text-align:center;}
.banner-natural1{ position:absolute}
.bg{color:#CFBA30!important;}
.bg2{ background:url(../images/bg.png) no-repeat center center; color:#FFFFFF; font-weight:bold;}
/*-- banner子菜单 开始*/
/*main 开始*/
ul.focus-body-img li {width:100%; height:759px; float:left;}
.focus-window .focus-body ul.focus-body-img li img{ position:absolute; left:0; top:0; width:100%; height:100%;}
.main{ height:auto;width:100%; min-width:1200px;position:relative; overflow:hidden;left:-10px; top:0px;margin-bottom:-200px;background-image: url('../images/bg9.jpg'); background-repeat:repeat-y}

/*.main{width: 100%;min-width: 1200px;position: fixed;left: 0;right: 0;top: 87px;bottom: 60px;background-image: url(../images/bodybg.jpg);background-position: top left;background-repeat: no-repeat;background-attachment: fixed;_background-image: url(../images/bodybg.jpg); overflow:auto;}*/
.main-body{ position:relative; width:1200px; margin:0 auto;}
.focus-window{position:relative; width:100%; height:836px; overflow:hidden; margin:0 auto; min-width:1200px;}
.focus-window1{ position:relative; width:1003px; height:755px; overflow:hidden;}
.focus-window3{ position:relative; width:1200px; overflow:hidden; margin:0 auto; border:1px solid red}
.focus-window11{ position:absolute;  width:100%; height:755px; left:0; top:0; }
.focus-window12{ position:absolute; left:0; top:0; width:1003px; height:885px; margin:0 auto;overflow:hidden; margin-left:0; }
.breadcrumb{ margin:8px auto;  font-size:16px; height:40px; line-height:40px; color:#727171;}
.breadcrumb ul li a{ color:#727171;}
.breadcrumb ul li{ float:left; margin:0 5px;}

ul.activities_list li{ height:30px; line-height:30px; border-bottom:1px dotted #E7E2E2; display:block;font-size:14px; padding-left:20px;}
ul.activities_list span{ display:block; float:right; padding-right:20px; color:#727171;}
ul.activities_list a{ color:#727171;}
.article_page{clear: both;text-align: center;float: left;font-size: 16px;color: #727171;margin:20px 0 20px 400px; position:absolute; bottom:150px;}
.article_page2{ text-align:center;  font-size:16px;width: 315px; position:absolute; bottom:0; margin-bottom:5px;}
.article_page a{ display:block; margin:0px 5px; float:left;}
.article_title{ font-size:16px; color:#7b8f24; text-align:center; line-height:24px; height:50px; position:relative; top:80px}
.article-contimg{width:550px; height:307px; margin:0 auto; }
.article-contimg img{ max-width:550px; max-height:307px;  }
.pubTime{ margin-top:15px; color:#727171; text-align:center;}
.article_content{ font-size:16px; font-family:"Microsoft YaHei"; color:#252323; text-indent:2em; line-height:28px; clear:both; margin-bottom:200px; padding-left:30px; padding-right:30px; padding-top:30px; position:relative; top:80px}
.article_content strong{ text-indent:0; display:block;}
.article_content img{ margin:20px auto; max-width:600px;}
.banner-hotproduct11,.banner-natural11,.banner-case11,.banner-about11,.banner-vip11,.banner-onlinestore11,.banner-dynamic11{  position:absolute; top:0; left:-0; width:228px;  z-index:100 ; background:#7b8f24; display:block; cursor:pointer; text-align:center;}
.banner-hotproduct11 ul li,.banner-natural11 ul li,.banner-case11 ul li,.banner-about11 ul li,.banner-vip11 ul li,.banner-onlinestore11 ul li,.banner-dynamic11 ul li{width:228px; height:43px; font:16px "Microsoft YaHei"; font-weight:normal; line-height:43px; color:#fff;}
.banner-hotproduct11 ul li a,.banner-natural11 ul li a,.banner-case11 ul li a,.banner-about11 ul li a,.banner-vip11 ul li a,.banner-onlinestore11 ul li a,.banner-dynamic11 ul li a{color:#fff; display:block; width:228px; height:43px;}
.focus-body3{ width:100%; overflow:hidden;}
.focus-nav{position:absolute; width:100%; height:22px;  right:-50%; bottom:80px; display:none;}
.focus-nav ul li{ width:10px; height:10px; display:block; border:1px solid #fff; cursor:pointer; border-radius:20px; float:left; margin-left:10px; background:#A7B797}
.focus-nav .bg{ background:#D49630; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}

.focus-nav3{ position:absolute; width:300px; height:22px;  right:30%; bottom:20px; display:none;}
.focus-nav3 ul li{ width:10px; height:10px; display:block; border:1px solid #fff; cursor:pointer; border-radius:20px 10px 20px 10px; float:left; margin-left:10px; background:#A7B797}
.focus-nav3 .bg{ background:#D49630; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.focus-nav11{ position:absolute; width:300px; height:22px;  right:30%; bottom:20px; display:block;}
.focus-nav11 ul li{ width:10px; height:10px; display:block; border:1px solid #fff; cursor:pointer; border-radius:20px 10px 20px 10px; float:left; margin-left:10px; background:#A7B797}
.focus-nav11 .bg{ background:#D49630; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.newpro-kv{  width:800px; height:400px; float:right;}
.newpro-list{  width:1200px; height:350px; float:left;}
.newpro-list a{ width:295px; height:200px;  float:left; display:block; padding-right:1px;}
.product-list{ width:1200px; margin:16px auto 35px auto; position:relative; float:left;}
.product-list ul li{ width:289px; height:378px; float:left;  margin-right:15px; position:relative;}
.product-list ul li a{ width:100%; height:100%; display:block; }
.margin-bottom17{ margin-bottom:17px;}
.margin-bottom35{ margin-bottom:35px;}
.series-kv{ margin-bottom:30px; position:relative;}
.series-kv img{margin-top:-110px;}
.kvlinks{ position:absolute; width:864px; height:463px; left:0;}
.series1,.series2,.series3,.series4,.series5,.series6,.series7{display:none;}
.series-title{ height:20px; width:100%; margin:10px auto; border:1px solid red}
.series-content{ height:700px; width:100%; border:1px solid red}
.series-content-pro1 img{}
.series-content-pro1{ width:370px; height:370px;  float:left;}
.series-content-des{ border:1px solid blue; float:left; width:560px; height:580px; float:left; padding-left:20px; padding-right:20px; padding-top:20px;}
.series-content-des ul li{  margin-bottom:15px;}
.series-content-des span{color:#859144; font-weight:bold;}

.series-content-otherpro{  float:left; width:220px; height:600px; float:left;}
.series-title ul li{ background:url(../images/pictos.png) no-repeat center right; background-position:100% -1040px; float:left;}
.series-title ul li a{ font-size:14px; color:#727171; margin-right:10px; margin-left:10px;}
.series-title ul li a:hover{color:#859144; font-weight:bold;}
.series-content{ font-size:12px; color:#727171}
.blue{color:#859144}
.focus-nav12{ position:absolute; width:300px; height:22px;  right:30%; bottom:20px; display:block;}
.focus-nav12 ul li{ width:10px; height:10px; display:block; border:1px solid #fff; cursor:pointer; border-radius:20px 10px 20px 10px; float:left; margin-left:10px; background:#A7B797}
.focus-nav12 .bg{ background:#D49630; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out}
@media(min-width:1200px){
.main-bottom1{color:white;width:100%; height:60px; background:url(../images/footer_bg.jpg) repeat-x top; position:relative; z-index:99; left:0; bottom:-27px;text-align:center;}
.main-bottom1_content{color:white;width:100%; height:90px; background:url(../images/footer_bg.jpg) repeat-x top; position:relative; z-index:99; left:0; bottom:-27px;text-align:center;}





.mianbaoxie p{
	margin-top:140px;margin-left:80px;
}
.mianbaoxie_list p{
	margin-top:140px;margin-left:20px;color:gray;
}
.mianbaoxie_list p a:hover{color:red;}
/* natural.php */
.natural-choice{ width:210px; padding-bottom:30px;  float:left; background:#7b8f24; position:fixed; top:180px;left:60px;}
.natural-choice .title{ display:block; height:80; line-height:30px; color:white; text-align:center;  margin-top:20px;margin-bottom:20px;}
.natural-choice-bg{color:#FFFFFF; font-weight:bold;}
.natural-choice ul.natural-choice-ul li{  display:block; height:50px;font-size:14px; text-align:center; line-height:50px; color:red; cursor:pointer;}
.active{background:url() repeat-x center center !important; color:#FFFFFF; font-weight:bold;}
.natural-choice ul.natural-choice-ul li a{ color:white; display:block; width:100%; height:100%;}
.natural-choice ul.natural-choice-ul li:hover{color:#859144; font-weight:bold;}
.natural-cont-dl dt{ display:none;}

.default-choice{ color:#fff; font-weight:bold;}
.natural-cont ul.natural-cont-ul li img{ max-width:180px; max-height:200px; margin-top:10px;}
.natural-cont{ width:879px; float:right;  margin-top:130px; margin-bottom:200px;}
.natural-cont ul li{ width:186px; height:350px;  margin-left:113px; overflow:hidden; float:left; text-align:center;}
ul.natural-cont-ul li span{ font-size:16px; color:#7b8f24; display:block; padding:10px 0 0 0;}
ul.natural-cont-ul li{ margin:15px 50px}
.new-bg{ background:url(../images/new-bg.jpg) no-repeat top center;}
.natural-cont-img{ width:180px; height:200px; margin:31px auto 10px auto;}
/* natural.php */










/*center*/




dl.index-dl  .active{ background-color:#8a7052}
.main-bor{ width:1200px; height:700px; margin:20px auto 0 auto; /*box-shadow:1px 0px 50px #cacaca;*/ position:relative;}
.main-bor h1{text-align:center; color:#7c8f23; line-height:75px;}
.main-con1 span, .main-con1 img{ float:left; display:block;}
.tvcads-nav p{ height:32px; line-height:32px; text-align:center}
.tvcads-nav dl dt:hover{ transition:all ease-in-out 0.5s; -webkit-transition:all ease-in-out 0.5s; -moz-transition:all ease-in-out 0.5s; opacity:0.8; -webkit-filter:opacity(.8);-moz-filter:opacity(.8);}
.uniasia1:hover{background-color: #EFEFEF;transition:all ease-in-out 0.5s; -webkit-transition:all ease-in-out 0.5s; -moz-transition:all ease-in-out 0.5s;}
.index_bottom_video{display:none; width:720px; height:430px; position:fixed; left:50%; top:50%; margin-left:-360px; margin-top:-215px; z-index:10001}
.index_bottom_video2{ transition:1s all ease-in-out; -webkit-transition:all 1s ease;width:720px; height:404px;}
.close_video{ position:absolute; right:0; top:0; width:20px; height:20px; display:block;}
.close_label:after{    position: absolute; right: 8px; top: 5px; display: block; content: 'X'; font: 24px Arial,"Microsoft YaHei"; text-align: center; transition: all 0.3s ease;cursor:pointer;color:#7B8F24;}
.close_label:hover:after{
	animation:close_animation 1s ease-in-out ;
	-webkit-animation:close_animation 1s ease-in-out ;
	}
