@charset "UTF-8";


.change{ position:absolute; right:30px; top:21px;}
.change a{ display:inline-block; text-decoration:none; width:65px; height:24px; border:2px solid #c8c8c8; color:#727272; font-size:12px; background:#c8c8c8; text-align:center; line-height:21px; font-family:Arial;}
.change a:hover,.change a.cur{ background:#252525; color:#fff;}
/** 设置默认字体 **/
/* line 22, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 28, ../sass/_base.scss */
body,
button, input, select, textarea {
  font: 100% Microsoft heti, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/* line 33, ../sass/_base.scss */
img {
  border: none;
}

/* line 36, ../sass/_base.scss */
body {
  font-size: 12px;
}

/* line 37, ../sass/_base.scss */




/* line 44, ../sass/_base.scss */

a {
  text-decoration: none;
}

/* line 50, ../sass/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 52, ../sass/_base.scss */


/* line 73, ../sass/_base.scss */


/* line 75, ../sass/_base.scss */

/* line 79, ../sass/_base.scss */


/* 清除浮动 */
/* line 95, ../sass/_base.scss */


/*****************/
/* line 103, ../sass/_base.scss */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* line 108, ../sass/_base.scss */
*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 浮动   */
/* line 116, ../sass/_base.scss */

/*整站顶部导航*/
/* line 2, ../sass/_header.scss */
.header {
  width: 100%;
  z-index: 99999;
  background: ;
  height:190px;
}

/* line 8, ../sass/_header.scss */
.header-placeholder {
  width: 100%;
  height: 139px;
}

/* line 15, ../sass/_header.scss */
.header-top {
  width: 100%;
  height:190px;
  z-index: 999999;
  background: url(../images/bg-top.jpg);
  background-repeat:no-repeat;
  position: fixed;
  padding: 25px 30px !important;
  top: 0;
}
/* line 24, ../sass/_header.scss */
.header-top .logo {
  width: 315px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
/* line 33, ../sass/_header.scss */
.header-top .logo img {
  width: 100%;
}

.header-menu-wrapper {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 105px;
  width: 100%;
}

/* line 117, ../sass/_header.scss */
.header-menu {
  background: url(../images/menu_bg.jpg) bottom left ;
  background-repeat:no-repeat;
  overflow: hidden;
  *zoom: 1;
}
/* line 121, ../sass/_header.scss */
.header-menu ul {
  width: 730px;
  height: 34px;
  margin: 0 auto;
 
}

/* line 131, ../sass/_header.scss */
.header-menu ul li {
  float: left;
  color: white;
}

/* line 137, ../sass/_header.scss */
.header-menu ul li a {
  display: block;
  font-size: 14px;
  color: white;
}
/* line 141, ../sass/_header.scss */
.header-menu ul li a, .header-menu ul li a:link, .header-menu ul li a:visited, .header-menu ul li a:active {
  color: white;
}
/* line 144, ../sass/_header.scss */
.header-menu ul li a:hover, .header-menu ul li a.active {
  color: #fff;
}

/* line 149, ../sass/_header.scss */
.header-menu ul li.menu-list {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  background: url("../images/divider.png") no-repeat center right;
  color: #a6a6a6;
}

/* line 157, ../sass/_header.scss */
.header-menu ul li.nobg {
  background: none;
}

/* line 161, ../sass/_header.scss */
.menu-divider {
  margin-top: 30px;
}

/* line 165, ../sass/_header.scss */
.header-drop-menu {
  background-color: #1f1f1f;
  position: relative;
  z-index: 222;
  width: 100%;
  overflow: hidden;
  height: 0;
}

/* line 175, ../sass/_header.scss */
.sub-menu {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #1f1f1f;
  border-top: 1px #2a2a2a solid;
  z-index: 111;
  display: none;
}

/* line 188, ../sass/_header.scss */
.about-sub-menu {
  height: 0;
}

/* line 194, ../sass/_header.scss */
.about-sub-menu .sub-content {
  width: 1110px;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
  *zoom: 1;
}
/* line 201, ../sass/_header.scss */
.about-sub-menu .sub-content ul li {
  float: left;
  width: 165px;
  margin: 10px;
}
/* line 206, ../sass/_header.scss */
.about-sub-menu .sub-content ul li a:hover .title, .about-sub-menu .sub-content ul li a:hover .text {
  color: #fff;
}
/* line 212, ../sass/_header.scss */
.about-sub-menu .sub-content ul li .title {
  font-size: 12px;
  color: #a6a6a6;
}
/* line 216, ../sass/_header.scss */
.about-sub-menu .sub-content ul li .banner {
  width: 160px;
  height: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-top: 15px;
  background: black;
}
/* line 224, ../sass/_header.scss */
.about-sub-menu .sub-content ul li .text {
  font-size: 12px;
  color: #a6a6a6;
  margin-top: 10px;
  line-height: 20px;
}
/* line 230, ../sass/_header.scss */
.about-sub-menu .sub-content ul li .list {
  width: 145px;
  display: block;
  height: 14px;
  background: url(../images/menu_arrow.png) right center no-repeat;
  font-size: 12px;
  margin-top: 10px;
  color: #a6a6a6;
}
/* line 239, ../sass/_header.scss */
.about-sub-menu .sub-content ul li .list:hover {
  color: #fff;
  background: url(../images/menu_arrowon.png) right center no-repeat;
}

/* line 246, ../sass/_header.scss */



/* line 275, ../sass/_header.scss */
.home-spa .sub-content, .home-profession .sub-content, .home-profession1 .sub-content, .home-profession3 .sub-content {
  width: 1270px;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
  overflow: hidden;
  *zoom: 1;
}
/* line 282, ../sass/_header.scss */
.home-spa .home-spa-tabs, .home-profession .home-spa-tabs, .home-profession1 .home-spa-tabs, .home-profession3 .home-spa-tabs {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 288, ../sass/_header.scss */
.home-spa .profession-spa-tabs, .home-profession .profession-spa-tabs , .home-profession1 .profession-spa-tabs , .home-profession3 .profession-spa-tabs {
  text-align: center;
}
/* line 290, ../sass/_header.scss */
.home-spa .profession-spa-tabs .home-spa-list, .home-profession .profession-spa-tabs .home-spa-list , .home-profession1 .profession-spa-tabs .home-spa-list, .home-profession3 .profession-spa-tabs .home-spa-list  {
  margin-left: 85px;
  margin-right: 105px;
}
/* line 294, ../sass/_header.scss */
.home-spa .profession-spa-tabs li, .home-profession .profession-spa-tabs li, .home-profession1 .profession-spa-tabs li, .home-profession3 .profession-spa-tabs li {
  float: left;
  width: 92.5px;
}
/* line 297, ../sass/_header.scss */
.home-spa .profession-spa-tabs li a, .home-profession .profession-spa-tabs li a, .home-profession1 .profession-spa-tabs li a, .home-profession3 .profession-spa-tabs li a {
  display: block;
  text-align: center;
  color: #a6a6a6;
  padding-bottom: 8px;
}
/* line 303, ../sass/_header.scss */
.home-spa .profession-spa-tabs li a:hover, .home-profession .profession-spa-tabs li a:hover, .home-profession1 .profession-spa-tabs li a:hover, .home-profession3 .profession-spa-tabs li a:hover {
  background: url(../images/tabs_btn.png) bottom center no-repeat;
  color: #fff;
}
/* line 309, ../sass/_header.scss */
.home-spa .home-spa-list, .home-profession .home-spa-list, .home-profession1 .home-spa-list, .home-profession3 .home-spa-list {
  padding-bottom: 8px;
  font-size: 12px;
  display: block;
  float: left;
  color: #a6a6a6;
  margin-left: 250px;
  margin-right: -26px;
  text-align: center;
}
/* line 319, ../sass/_header.scss */
.home-spa .home-spa-list:hover, .home-profession .home-spa-list:hover, .home-profession2 .home-spa-list:hover, .home-profession3 .home-spa-list:hover {
  background: url(../images/tabs_btn.png) bottom center no-repeat;
  color: #fff;
}
/* line 324, ../sass/_header.scss */
.home-spa .slide-wrapper, .home-spa .home-spa-slide, .home-profession .slide-wrapper, .home-profession .home-spa-slide, .home-profession1 .slide-wrapper, .home-profession1 .home-spa-slide, .home-profession3 .slide-wrapper, .home-profession3 .home-spa-slide {
  width: 2500px;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.home-spa .slide-wrapper:after, .home-spa .home-spa-slide:after, .home-profession .slide-wrapper:after, .home-profession .home-spa-slide:after, .home-profession1 .slide-wrapper:after, .home-profession 1.home-spa-slide:after, .home-profession3 .slide-wrapper:after, .home-profession3 .home-spa-slide:after {
  content: "";
  display: table;
  clear: both;
}
/* line 329, ../sass/_header.scss */
.home-spa .slide-list, .home-profession .slide-list{
  float: left;
  margin: 5px;
  width: 400px;
  height: 400px;
  cursor: pointer;
}.home-profession1 .slide-list, .home-profession3 .slide-list{
  float: left;
  margin: 20px;
  width: 230px;
   height:160px
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 337, ../sass/_header.scss */
.home-spa .slide-list:hover, .home-profession .slide-list:hover , .home-profession1 .slide-list:hover, .home-profession3 .slide-list:hover  {
  opacity: 1;
}
/* line 340, ../sass/_header.scss */
.home-spa .slide-list img, .home-profession .slide-list img {
  width: 320px;
}
/* line 343, ../sass/_header.scss */
.home-spa .left-arrow, .home-spa .right-arrow, .home-profession .left-arrow, .home-profession .right-arrow , .home-profession1 .left-arrow, .home-profession1 .right-arrow, .home-profession3 .left-arrow, .home-profession3 .right-arrow  {
  width: 35px;
  height: 69px;
  position: absolute;
  top: 106px;
  cursor: pointer;
}
/* line 350, ../sass/_header.scss */
.home-spa .left-arrow, .home-profession .left-arrow, .home-profession1 .left-arrow, .home-profession3 .left-arrow {
  left: -50px;
  background: url(../images/left_arrow.png) no-repeat;
}
/* line 354, ../sass/_header.scss */
.home-spa .right-arrow, .home-profession .right-arrow, .home-profession1 .right-arrow, .home-profession3 .right-arrow {
  right: -50px;
  background: url(../images/right_arrow.png) no-repeat;
}

/* line 361, ../sass/_header.scss */
.home-spa .slide-wrapper {
  /*width: 810px;*/
}
/* line 364, ../sass/_header.scss */
.home-spa .slide-wrapper .home-spa-slide .slide-list,.home-spa-slide1 .slide-wrapper .home-spa-slide3 .slide-list {
  width: 230px;
  height: 160px;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 369, ../sass/_header.scss */
.home-spa .slide-wrapper .home-spa-slide .slide-list img {
  width: 230px;
}

/* line 378, ../sass/_header.scss */
.home-profession .slide-wrapper,.home-profession1 .slide-wrapper,.home-profession3 .slide-wrapper {
  padding-top: 0;
}
/* line 381, ../sass/_header.scss */
.home-profession .slide-wrapper .profession-spa-slide .slide-list,.home-profession1 .slide-wrapper .profession-spa-slide .slide-list,.home-profession3 .slide-wrapper .profession-spa-slide .slide-list {
  width: 230px;
  height: 162px;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 386, ../sass/_header.scss */
.home-profession .slide-wrapper .profession-spa-slide .slide-list img,.home-profession1 .slide-wrapper .profession-spa-slide .slide-list img,.home-profession3 .slide-wrapper .profession-spa-slide .slide-list img {
  width: 230px;
}

/* line 395, ../sass/_header.scss */
.divider {
  display: block;
  width: 1px;
  height: 7px;
  background: url(../images/divider.png) no-repeat;
  float: left;
  margin-top: 4px;
  padding-top: 10px;
}

/* line 405, ../sass/_header.scss */
.biotta-link {
  position: absolute;
  top: 80px;
  right: 14px;
  font-size: 13px;
  padding-left: 38px;
  line-height: 29px;
  background: url(../images/bittoa_icon.png) left center no-repeat;
}
/* line 413, ../sass/_header.scss */
.biotta-link a {
  color: #ddd;
}

/* line 418, ../sass/_header.scss */
.statement-link {
  position: absolute;
  top: 65px;
  left: 30px;
  line-height: 60px;
  color: #ffffff;
  width: 130px;
  height: 60px;
  background-color: #ca1d3b;
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: 600;
}

/*整站底部*/
/* line 2, ../sass/_footer.scss */
.footer {
  width: 100%;
  height: 100px;
  background-image: url('../images/footer_bg.jpg');
  overflow: hidden;
  *zoom: 1;
  text-align:center;
  padding-top:45px;
}

/* line 10, ../sass/_footer.scss */

/* line 14, ../sass/_footer.scss */

/* line 45, ../sass/_footer.scss */
.back-top {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  bottom: 70px;
  right: 30px;
  background: url(../images/back_top.jpg) no-repeat;
}

/* line 3, ../sass/_public.scss */

/* line 172, ../sass/_public.scss */
.pager .pager-list a.number:hover, .pager .pager-list a.on {
  background: url(../images/about/pages_btn.png) center center no-repeat;
  color: #fff;
}

/*右侧锚点*/


/*新闻列表页*/
/* line 236, ../sass/_public.scss */

.header-menu ul{
	margin-top:6px!important;
}

.about-content{
	margin-top:10px;
}





/* line 188, ../sass/_header.scss */
.home-profession2 {
  height: 0;
}

/* line 194, ../sass/_header.scss */
.home-profession2 .sub-content {
  width: 1110px;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
  *zoom: 1;
}
/* line 201, ../sass/_header.scss */
.home-profession2 .sub-content ul li {
  float: left;
  width: 165px;
  margin: 10px;
}
/* line 206, ../sass/_header.scss */
.home-profession2 .sub-content ul li a:hover .title, .home-profession2 .sub-content ul li a:hover .text {
  color: #fff;
}
/* line 212, ../sass/_header.scss */
.home-profession2 .sub-content ul li .title {
  font-size: 12px;
  color: #a6a6a6;
}
/* line 216, ../sass/_header.scss */
.home-profession2 .sub-content ul li .banner {
  width: 160px;
  height: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-top: 15px;
  background: black;
}
/* line 224, ../sass/_header.scss */
.home-profession2 .sub-content ul li .text {
  font-size: 12px;
  color: #a6a6a6;
  margin-top: 10px;
  line-height: 20px;
}
/* line 230, ../sass/_header.scss */
.home-profession2 .sub-content ul li .list {
  width: 145px;
  display: block;
  height: 14px;
  background: url(../images/menu_arrow.png) right center no-repeat;
  font-size: 12px;
  margin-top: 10px;
  color: #a6a6a6;
}
/* line 239, ../sass/_header.scss */
.home-profession2 .sub-content ul li .list:hover {
  color: #fff;
  background: url(../images/menu_arrowon.png) right center no-repeat;
}







