

/* line 256, ../sass/_join.layout.scss */
.join-content {
  height: auto;
}
/* line 258, ../sass/_join.layout.scss */
.join-content .partner-content {
  width: 800px;
  margin: 0 auto;
  padding-top: 70px;
}
/* line 262, ../sass/_join.layout.scss */
.join-content .partner-content .partner-intro {
  text-align: center;
}
/* line 263, ../sass/_join.layout.scss */
.join-content .partner-content .people-intro {
  width: 100%;
  height: 430px;
  background: #F2F2F2;
  margin: 55px 0px;
}
/* line 268, ../sass/_join.layout.scss */
.join-content .partner-content .people-intro img {
  display: block;
  padding: 40px 30px 40px 40px;
  float: left;
}
/* line 269, ../sass/_join.layout.scss */
.join-content .partner-content .people-intro .intro {
  padding-top: 40px;
}
/* line 270, ../sass/_join.layout.scss */
.join-content .partner-content .people-intro .intro h1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 25px;
}
/* line 276, ../sass/_join.layout.scss */
.join-content .partner-content .people-intro .intro p {
  font-size: 14px;
  line-height: 30px;
  text-indent: 30px;
  width: 800px;
}
/* line 283, ../sass/_join.layout.scss */
.join-content .partner-content .end {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 100px;
}




.join-content{
	margin-top:10px;

}


