<layout name='viewadmin' />
<div class="container">
		<div class="public-nav">您当前的位置：<a href="{:U('Admin/news/edit')}">新闻修改</a>></div>
		<div class="public-content">
			<div class="public-content-header">
				<h3>新闻修改</h3>
			</div>
			<div class="public-content-cont">
			<form action="{:U('Admin/news/update')}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="">新闻ID</label>
					<input class="form-input-txt" type="text" name="id" value="{$news.id}" />
				</div>
				<div class="form-group">
					<label for="">新闻标题</label>
					<input class="form-input-txt" type="text" name="ntitle" value="{$news.ntitle}" />
				</div>
				<div class="form-group">
					<label for="">新闻简介</label>
					<textarea class="form-input-textara" type="text" name="nintroduce">{$news.nintroduce}</textarea>
				</div>
				<div class="form-group">
					<label for="">新闻内容</label>
					<textarea id="editor_id" name="ncontent"  class="form-input-textara" style="width:700px;height:300px;">
						{$news.ncontent}
					</textarea> 
				</div>
				<div class="form-group">
					<label for="">发布人</label>
					<input class="form-input-txt" type="text" name="npublisher" value="{$news.npublisher}" />
				</div>
				<div class="form-group">
                    <label for="">图片添加</label>
                    <img src="__PUBLIC__/{$news.npicture}" width="300px" height="50px"/>
                    <input class="form-input-txt" type="file" name="npicture"  /> 
                </div>
				<div class="form-group">
					<label for="">信息设置</label>
					<input class="form-input-radius" type="checkbox" name="Dream_SiteName" value="" />大图
					<input class="form-input-radius" type="checkbox" name="Dream_SiteName" value="" />审核
				</div>
				<div class="form-group">
					<label for="">备注</label>
					<textarea class="form-input-textara" type="text" name="nremark">{$news.nremark}</textarea>
				</div>
				<div class="form-group">
					<label for="">录入时间</label>
					<input class="form-input-txt" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="ntime" value="{$news.ntime}">
				</div>
				<div class="form-group" style="margin-left:150px;">
					<input type="submit" onclick="tianjia()" class="sub-btn" value="提  交" />
					<script>
                        function tianjia(){
                              alert("添加成功！");
                         }
                    </script>
					<input type="reset" class="sub-btn" value="重  置" />
				</div>
				</form>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/admin/js/kindeditor-all-min.js"></script>
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script>
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
