<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <head>
        <meta charset="utf-8">
        <title>蓝金祛痘美肤堂</title>
        <link href="__PUBLIC__/home/css/style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/home/js/script.js"></script>
      <link rel="stylesheet" href="__PUBLIC__/home/css/footer.css">
         <link rel="stylesheet" href="__PUBLIC__/home/css/anli.css">
       
        
    </head>
    <body>
    <div class="header">  
        <div class="topNav" id="topNav">
            <div class="topNav2">
                <div class="navBox">
                    <div class="navIndexBg">
                        <div class="navIL"></div>
                        <div class="navIL navIR"></div>
                        <div class="navIM"></div>
                    </div>
                    <div class="navMain" id="navMain">
                        <!-- 主导航 -->
                        <div class="navIndex" id="navIndex">
                            <ul>
                                <li><a href="{:U('Home/index/index')}">首页</a></li>
                                <li><a href="{:U('Home/project/index')}">经营项目</a></li>
                                <li class="nav1"><a href="{:U('Home/product/index')}">产品一览</a></li>
                                <li><a href="{:U('Home/case/index')}">案例</a></li>
                                <li><a href="{:U('Home/lanjin/index')}">走进蓝金</a></li>
                                <li><a href="{:U('Home/user/index')}">用户专区</a></li>

                            </ul>
                        </div>
                        <div class="navSub" id="navSub">
                            <dl class="nav2">
                                <dt>经营项目</dt>
                                <dd><a href="{:U('Home/project/qd')}">祛痘</a></dd>
                                <dd><a href="{:U('Home/project/qy')}">祛印</a></dd>
                                <dd><a href="{:U('Home/project/pb')}">平疤</a></dd>
                                <dd><a href="{:U('Home/project/xf')}">修复</a></dd>
                                <dd><a href="{:U('Home/project/hfx')}">护肤</a></dd>
                            </dl>
                            <dl class="nav1">
                                <dt>产品一览</dt>
                                <dd><a href="{:U('Home/product/lj')}">蓝金组合系列</a></dd>
                                <dd><a href="{:U('Home/product/zy')}">中药祛痘系列</a></dd>
                                <dd><a href="{:U('Home/product/qypb')}">祛印平疤系列</a></dd>
                                <dd><a href="{:U('Home/product/hyxf')}">焕颜修复系列</a></dd>
                                <dd><a href="{:U('Home/product/mm')}">面膜系列</a></dd>
                            </dl>
                            <dl>
                                <dt>案例</dt>
                                <dd><a href="{:U('Home/case/qcd')}">青春痘治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/fc')}">粉刺治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/pb')}">平疤案例</a></dd>
                                <dd><a href="{:U('Home/case/xf')}">修复案例</a></dd>
                                <dd><a href="{:U('Home/case/qt')}">其它案例</a></dd>
                            </dl>
                            <dl>
                                <dt>走进蓝金</dt>
                                <dd><a href="{:U('Home/lanjin/introduce')}">公司简介</a></dd>
                                <dd><a href="{:U('Home/lanjin/news')}">新闻资讯</a></dd>
                                <dd><a href="{:U('Home/lanjin/listcontactsx')}">联系我们</a></dd>
                            </dl>
                            <dl>
                                <dt>用户专区</dt>
                                <dd><a href="{:U('Home/user/zx')}">用户咨询</a></dd>
                                <dd><a href="{:U('Home/user/fb')}">用户反馈</a></dd>
                                <dd><a href="{:U('Home/user/yy')}">用户预约</a></dd>
                                <dd><a href="{:U('Home/user/my')}">美颜小贴士</a></dd>
                            </dl>
                        </div>
                        <!-- 二级 end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="logo"><img src="__PUBLIC__/home/images/logo2.png"></div>
    </div>
   <div class="dir main">
    当前位置：<a href="{:U('Home/index/index')}" style='#ffffff;'>首页</a> >> <a href="{:U('Home/lanjin/index')}" >走进蓝金</a>
</div>
<div class="liuyan main">
    
        <div class="liuyan_title">走进蓝金</div>
    <div class="wrapper" id="wrapper">
    
                    
<div class="box">
     <div class="join-content">       
        <div class="partner-content">
            <div class="partner-intro">
                <img src="__PUBLIC__/home/images/lanjin.jpg">
            </div>
            <div class="people-intro">
                 <a href="{:U('Home/lanjin/introduce')}" style="float:right;"><button style="color:#9966CC;background:#FFFFCC">了解更多</button></a>
                <div class="anli">
                    <h6 class="anli-title" style=" text-align: center;">走进蓝金：</h6>
                    <p> 公司成立于2000 年，是专业从事痤疮，痘印痘疤及亚健康皮肤，研究，治疗的科研销售公司！目前全国有300多家门店，员工数千名！我们本着用户放心，我们开心，用效果说话的原则，不做夸大宣传，不做虚头承诺！切切实实解除每一位患者的痛苦！10余年来，获得了极好的治疗口碑！

</p>
                    <p>畅销全国20余年的祛痘领域“第一品牌”蓝金祛痘组合，以其卓越的产品疗效/全方位系列化全免费连锁售后服务/“四位一体”的立体型个性化治疗方案/亲民的百姓价格。延续了“蓝金”系列产品在青春痘/粉刺/痤疮等治疗领域20余年的神话奇迹，成功治愈了百万例中/重度痤疮患者，为隆重纪念“蓝金”上市20周年，哈尔滨大中制药“蓝金祛痘美肤堂”在蓝金祛痘组合的基础上，强势推出“祛疤平坑”加强型组合治疗系列产品；痘/印/疤/坑/收缩毛孔/美白换肤等平行同步治疗，一站治愈。

</p>
                    <p> 蓝金祛痘组合由全球最大的维生素生产厂家--美国罗氏公司开发研制，显著的祛痘美肤疗效，在第十八届皮肤病学会上已被认证，2000年被载入了中美两国《国家药典》经世界权威组织FDA认证，被称为“最佳皮肤改良剂”，还被列入了国家高等院校医学专用教材，“蓝金组合”被评为“最受大学生欢迎的祛痘产品”。蓝金祛痘组合被哈尔滨大中制药有限公司引进，是目前治疗各种中重度青春痘/痤疮/粉刺的最佳选择，是国内治疗青春痘/痤疮/粉刺的第一大品牌，畅销20余年，疗效可靠/安全彻底，蓝金是维生素A的衍生物，不含任何激素，不影响身体发育，青少年可放心使用。</p>
                     
  </div>
            </div>
       </div>
       </div>
       </div>
       </div>    
   
</div>


<div class="low page6">
            <p>版权所有：蓝金祛痘美肤堂           地址：天津市XXXX路XXXX号          邮编：300000
            制作维护：B&G小组      <br/>     津公网12010402000425</p>
        </div>
    </body>
</html>