<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <head>
        <meta charset="utf-8">
        <title>蓝金祛痘美肤堂</title>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/css1.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.carouFredSel.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/contact.js"></script>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/consult.css" />
        <link href="__PUBLIC__/home/css/style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/home/js/script.js"></script>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/sider.css" />
         <link rel="stylesheet" href="__PUBLIC__/home/css/footer.css">
        <!--这块加你整理的内容模块的代码css文件-->
    </head>
    <body>
    <div class="header">  
        <div class="topNav" id="topNav">
            <div class="topNav2">
                <div class="navBox">
                    <div class="navIndexBg">
                        <div class="navIL"></div>
                        <div class="navIL navIR"></div>
                        <div class="navIM"></div>
                    </div>
                    <div class="navMain" id="navMain">
                        <!-- 主导航 -->
                        <div class="navIndex" id="navIndex">
                            <ul>
                                <li><a href="{:U('Home/index/index')}">首页</a></li>
                                <li><a href="{:U('Home/project/index')}">经营项目</a></li>
                                <li class="nav1"><a href="{:U('Home/product/index')}">产品一览</a></li>
                                <li><a href="{:U('Home/case/index')}">案例</a></li>
                                <li><a href="{:U('Home/lanjin/index')}">走进蓝金</a></li>
                                <li><a href="{:U('Home/user/index')}">用户专区</a></li>

                            </ul>
                        </div>
                        <div class="navSub" id="navSub">
                            <dl class="nav2">
                                <dt>经营项目</dt>
                                <dd><a href="{:U('Home/project/qd')}">祛痘</a></dd>
                                <dd><a href="{:U('Home/project/qy')}">祛印</a></dd>
                                <dd><a href="{:U('Home/project/pb')}">平疤</a></dd>
                                <dd><a href="{:U('Home/project/xf')}">修复</a></dd>
                                <dd><a href="{:U('Home/project/hfx')}">护肤</a></dd>
                            </dl>
                            <dl class="nav1">
                                <dt>产品一览</dt>
                                <dd><a href="{:U('Home/product/lj')}">蓝金组合系列</a></dd>
                                <dd><a href="{:U('Home/product/zy')}">中药祛痘系列</a></dd>
                                <dd><a href="{:U('Home/product/qypb')}">祛印平疤系列</a></dd>
                                <dd><a href="{:U('Home/product/hyxf')}">焕颜修复系列</a></dd>
                                <dd><a href="{:U('Home/product/mm')}">面膜系列</a></dd>
                            </dl>
                            <dl>
                                <dt>案例</dt>
                                <dd><a href="{:U('Home/case/qcd')}">青春痘治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/fc')}">粉刺治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/pb')}">平疤案例</a></dd>
                                <dd><a href="{:U('Home/case/xf')}">修复案例</a></dd>
                                <dd><a href="{:U('Home/case/qt')}">其它案例</a></dd>
                            </dl>
                            <dl>
                                <dt>走进蓝金</dt>
                                <dd><a href="{:U('Home/lanjin/introduce')}">公司简介</a></dd>
                                <dd><a href="{:U('Home/lanjin/news')}">新闻资讯</a></dd>
                                <dd><a href="{:U('Home/lanjin/listcontactsx')}">联系我们</a></dd>
                            </dl>
                            <dl>
                                <dt>用户专区</dt>
                                <dd><a href="{:U('Home/user/zx')}">用户咨询</a></dd>
                                <dd><a href="{:U('Home/user/fb')}">用户反馈</a></dd>
                                <dd><a href="{:U('Home/user/yy')}">用户预约</a></dd>
                                <dd><a href="{:U('Home/user/my')}">美颜小贴士</a></dd>
                            </dl>
                        </div>
                        <!-- 二级 end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="logo"><img src="__PUBLIC__/home/images/logo2.png"></div>
    </div>
    <div class="dir main">
    当前位置：<a href="{:U('Home/index/index')}" style='#ffffff;'>首页</a> >> <a href="{:U('Home/lanjin/index')}" >走进蓝金</a>>> <a href="{:U('Home/lanjin/list-contact-ln')}" >联系我们</a>
</div>

<div class="liuyan main">
    
        <div class="liuyan_title">联系我们</div>

 <div class="product_list_body">

    <div class="acticle_wz_nav" id="left_fu">
    <div id="s_product"><img src="__PUBLIC__/home/images/s_cp1.png"></div>
    <div class="acticle_wz_nav_title">走进蓝金</div>
    <ul class="article_wz_nav_list">
        <li><a href="{:U('Home/lanjin/list-introduce')}">公司简介</a></li>
        <li><a href="{:U('Home/lanjin/list-news')}">新闻资讯</a></li>
        <li><a href="{:U('Home/lanjin/list-contact-sx')}">联系我们</a></li>
       
        <li class="dingbu"><a href="javascript:scroll(0,0)">返回顶部</a></li>
    </ul>
</div>
</div>
        <!--这块加你整理的内容模块的代码-->
 
    <div class="wrapin">
        <img src="__PUBLIC__/home/images/contact.jpg" style="
  display: block;
  padding: 40px 0px 0px 0px;
  float: left;
">
        <div class="contact_way"><!--联系方式-->
            
            <div class="child_head">
                <div class="floor_pos"></div><!--定位坐标-->
                <span class="tit">联系方式</span>
                <em class="en">/ RECITATION HALL</em>
                    
            </div>
    
    
    
    
    
     <div class="ctw_address" id="1">
                <span>联系地址：</span>
                <em>香港九龙旺角亚皆老街109号皆旺商业大厦22楼</em>
            </div>
            <div class="ctw_tel">
                <span>联系电话：</span>
                400-088-9960
            </div>
            <div class="clear"></div>
            
            <div class="ctw_tabs">
                
                <div class="ctw_top">
                    <div class="title">
                        <strong>蓝金祛痘美肤堂中国区连锁</strong>
                        <span>/ LANJIN ACNE SKIN CHINESE HALL AREA CHAIN</span> 
                    </div>
                    <div class="handle">
                                            <a href="{:U('Home/lanjin/list-contact-sx')}" >陕西省</a>
                                            <a href="{:U('Home/lanjin/list-contact-hb')}"  >河北省</a>
                                            <a href="{:U('Home/lanjin/list-contact-ln')}"   class="hover" >辽宁省</a>
                                            <a href="{:U('Home/lanjin/list-contact-jl')}"  >吉林省</a>
                                            <a href="{:U('Home/lanjin/list-contact-hub')}"  >湖北省</a>
                                            <a href="{:U('Home/lanjin/list-contact-sc')}"  >四川省</a>
                                        </div>
                    <div class="clear"></div>   
                </div>
                
                <div class="ctw_con show">
                                                <div class="ctw_wrap">
                        <ul>
                        <li>蓝金祛痘美肤堂（西安小寨店）</li>
                            <li>地址：雁塔区小寨十字东南角华旗国际广场1721室</li>
                            <li>联系方式：13359236138</li>       
                        </ul>
                                                            <ul>
                            <li>蓝金祛痘美肤堂（西安北大街店）</li>
                            <li>地址：莲湖区北大街宏府大厦10718室</li>
                            <li>联系方式：18066575926</li>   
                        </ul>
                                                        <ul>
                            <li>蓝金祛痘美肤堂（西安土门店）</li>
                            <li>地址：莲湖区土门十字怡康医药超市</li>
                            <li>联系方式：15309266934</li>   
                        </ul>
                        
                        <div class="clear"></div>   
                    </div>
                                                <div class="ctw_wrap">
                        <ul>
                        <li>蓝金祛痘美肤堂（西安轻工店）</li>
                            <li>地址：新城区长乐中路康尔大药房</li>
                            <li>联系方式：18992823279</li>       
                        </ul>
                                                            <ul>
                            <li>蓝金祛痘美肤堂（西安临潼店）</li>
                            <li>地址：临潼区北十字蓝金祛痘美肤堂</li>
                            <li>联系方式：18710708081</li>   
                        </ul>
                                                        <ul>
                            <li>蓝金祛痘美肤堂（西安户县店）</li>
                            <li>地址：户县大十字荣葆堂大药房</li>
                            <li>联系方式：13186151375</li>   
                        </ul>
                        
                        <div class="clear"></div>   
                    </div>
                                                <div class="ctw_wrap">
                        <ul>
                        <li>蓝金祛痘美肤堂（宝鸡店）</li>
                            <li>地址：渭滨区经二路宝鸡医药大厦二楼</li>
                            <li>联系方式：18992713723</li>       
                        </ul>
                                                            <ul>
                            <li>蓝金祛痘美肤堂（咸阳店）</li>
                            <li>地址：秦都区人民中路东银大厦1121室</li>
                            <li>联系方式：15384504860</li>   
                        </ul>
                                                        <ul>
                            <li>蓝金祛痘美肤堂（榆林店）</li>
                            <li>地址：榆阳区新建南路二街李学士巷蓝金祛痘美肤堂</li>
                            <li>联系方式：13319123412</li>   
                        </ul>
                        
                        <div class="clear"></div>   
                    </div>
                                                <div class="ctw_wrap">
                        <ul>
                        <li>蓝金祛痘美肤堂（延安店）</li>
                            <li>地址：宝塔区中延国际负一层中延医药超市</li>
                            <li>联系方式：15191151223</li>       
                        </ul>
                                                            <ul>
                            <li>蓝金祛痘美肤堂（安康店）</li>
                            <li>地址：金州南路54号金州大药店</li>
                            <li>联系方式：15389511767</li>   
                        </ul>
                                                        
                   <ul>
                            <li>蓝金祛痘美肤堂（神木店）</li>
                            <li>地址：东兴街梅苑大酒店一楼中和堂大药房</li>
                            <li>联系方式：13399227316</li>   
                        </ul>
                        
                        <div class="clear"></div>   
                    </div>  
                           
                    </div>        
                        
  
                
        </div>  
        <div class="clear"></div>   
        
        <div class="contact_dz" id="2"><!--电子地址-->          
            
            <div class="child_head">
                <div class="floor_pos"></div><!--电子地址-->
                <span class="tit">电子地址</span>
                <em class="en">/ RECITATION HALL</em>           
                
            </div>
            
            <div class="m_map">
             <!--<div class="mp mp1">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：乌鲁木齐央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito find_mi1">乌鲁木齐</div>
                </div>
                <div class="mp mp2">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：西安市未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">西安</div>
                </div>

                <div class="mp mp4">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：重庆未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">重庆</div>
                </div>
                <div class="mp mp5">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：贵阳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">贵阳</div>
                </div>
                <div class="mp mp6">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：南宁未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">南宁</div>
                </div>
                <div class="mp mp7">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：昆明未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">昆明</div>
                </div>
               -->
               
               
                            <div class="mp mp3">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：成都未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">成都</div>
                </div>
                
                
                
                <div class="mp mp8">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：雁塔区小寨十字西北角藻露堂中医院四楼</P>
                                <P>电话：13359236138</P>
               
                            </div>
                        </div>
                    </div>
                    <div class="mito">西安(小寨店)</div>
                </div>
                
                <div class="mp mp9">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：莲湖区北大街宏府大厦10718室</P>
                                <P>电话：18066575926</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">西安(北大街店)</div>
                </div>
                
                 <div class="mp mp63">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：渭滨区经二路宝鸡医药大厦二楼</P>
                                <P>电话：18992713723</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">西安(宝鸡)</div>
                </div>
                
                
                
                          <div class="mp mp64">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：宝塔区中延国际负一层中延医药超市</P>
                                <P>电话：15191151223</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">延安店</div>
                </div>
                
                
                
                          <div class="mp mp65">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：榆阳区新建南路二街李学士巷蓝金祛痘美肤堂</P>
                                <P>电话：13319123412</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">榆林店</div>
                </div>
                
                
                
                 <div class="mp mp11">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：汉口解放大道846号天安大酒店旁同济堂三楼</P>
                                <P>电话：15397170557</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">汉口店</div>
                </div>
                
                
                
                
                
                
                
                <div class="mp mp67">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：西安路兴工街益春堂药房二楼（福佳新天地斜对面）</P>
                                <P>电话：13591356697</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">大连市区店</div>
                    </div>
                    
                    
                    <div class="mp mp68">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：盼盼路凯伦咖啡南邻五米蓝金祛痘美肤堂</P>
                                <P>电话：0417-2858887</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">营口店</div>
                    </div>
                            
                                         
                    <div class="mp mp69">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：站前华联超市斜对面中心药房</P>
                                <P>电话：15940663598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">锦州店</div>
                    </div>
                
                
                
                
                
                
                
                
                
                
                
                
                <!--
                <div class="mp mp10">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：太原未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">太原</div>
                </div>
               
                <div class="mp mp12">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：长沙未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">长沙</div>
                </div>
                <div class="mp mp13">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：南昌未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">南昌</div>
                </div>
                <div class="mp mp14">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：杭州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">杭州</div>
                </div>
                <div class="mp mp15">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：厦门未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">厦门</div>
                </div>
                <div class="mp mp16">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：广州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">广州</div>
                </div>
                <div class="mp mp17">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：深圳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">深圳</div>
                </div>
                <div class="mp mp18">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：合肥未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">合肥</div>
                </div>
                <div class="mp mp19">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：南京未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">南京</div>
                </div>
                <div class="mp mp20">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：上海未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">上海</div>
                </div>
                <div class="mp mp21">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：济南未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">济南</div>
                </div>
                <div class="mp mp22">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：青岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">青岛</div>
                </div>
                <div class="mp mp23">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：北京未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">北京</div>
                </div>
                <div class="mp mp24">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：天津未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">天津</div>
                </div>

                </div>-->
                
                
                
                    <div class="mp mp23">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：东方大厦14层1417室（东购银座西门） </P>
                                <P>电话：0311-87896141</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">石家庄东购店</div>
                    </div>
                    
                    <div class="mp mp70">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：莲池区裕华路393号康源平民大药房二楼蓝金组合</P>
                                <P>电话：13930804777</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">保定店</div>
                    </div>
                    
                    
                    <div class="mp mp71">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：运河区中心医院东50米亚太汉方门诊二楼</P>
                                <P>电话：13315785234</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">沧州店</div>
                    </div>
                    
                    
                      <div class="mp mp72">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：路南区新湖路与国防道交口同济医院痤疮科</P>
                                <P>电话：18733301606</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">唐山店</div>
                    </div>
                    
                    
                    
                
                
                  <div class="mp mp25">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：和平区文化路48甲16号国大药房三楼</P>
                                <P>电话：024-66760966</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">沈阳(文化路店)</div>
                    
                    </div>
                    
                    
                    
                  
                    
                    
                    
                    
                    
                    
               
                <div class="mp mp26">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：长春市朝阳区重庆胡同与文化街交汇重庆派出所东侧</P>
                                <P>电话：0431-84792866</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">长春店</div>
                </div>
               
               
                <div class="mp mp66">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="__PUBLIC__/home/images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：昌邑区儿童医院对面华鹏大药房三楼</P>
                                <P>电话：13514444648</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">吉林市店</div>
                </div>
               
               
               
               
<!--                <div class="mp mp27">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：哈尔滨未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito find_mi2">哈尔滨</div>
                </div>
                <div class="mp mp28">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：佛山未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">佛山</div>
                </div>
                <div class="mp mp29">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：常州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">常州</div>
                </div>
                <div class="mp mp30">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：东莞未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">东莞</div>
                </div>
                <div class="mp mp31">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：无锡未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">无锡</div>
                </div>
                <div class="mp mp32">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：中山未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">中山</div>
                </div>
                <div class="mp mp33">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：苏州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">苏州</div>
                </div>
                <div class="mp mp34">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：秦皇岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito find_mi2">秦皇岛</div>
                </div>
                <div class="mp mp35">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：镇江岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">镇江</div>
                </div>
                <div class="mp mp36">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：洛阳岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">洛阳</div>
                </div>
                <div class="mp mp37">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：襄阳岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">襄阳</div>
                </div>
                <div class="mp mp38">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：衡阳岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">衡阳</div>
                </div>
                <div class="mp mp39">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：湘潭岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">湘潭</div>
                </div>
                <div class="mp mp40">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：石家庄岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito find_mi2">石家庄</div>
                </div>
                <div class="mp mp41">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：嘉兴岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">嘉兴</div>
                </div>-->
               
             
              
    <!--            <div class="mp mp43">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：惠州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">惠州</div>
                </div>
                <div class="mp mp44">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：温州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">温州</div>
                </div>
                <div class="mp mp45">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：台州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">台州</div>
                </div>
                <div class="mp mp46">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：株州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">株州</div>
                </div>
                <div class="mp mp47">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：绵阳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">绵阳</div>
                </div>
                <div class="mp mp48">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：宁波未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">宁波</div>
                </div>
                <div class="mp mp49">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：绍兴未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">绍兴</div>
                </div>
                <div class="mp mp50">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：金华未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">金华</div>
                </div>
                <div class="mp mp51">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：福州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">福州</div>
                </div>
                <div class="mp mp52">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：泉州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">泉州</div>
                </div>
                <div class="mp mp53">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：乐山未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">乐山</div>
                </div>
                <div class="mp mp54">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：江门未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">江门</div>
                </div>
                <div class="mp mp55">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：新乡未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">新乡</div>
                </div>
                <div class="mp mp56">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：信阳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">信阳</div>
                </div>
                <div class="mp mp57">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：德阳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">德阳</div>
                </div>
                <div class="mp mp58">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：常德未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">常德</div>
                </div>
                <div class="mp mp59">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：徐州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">徐州</div>
                </div>
                <div class="mp mp60">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：梧州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">梧州</div>
                </div>
                <div class="mp mp61">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：宜昌未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">宜昌</div>
                </div>
                <div class="mp mp62">
                    <div class="feng">
                        <div class="tree">
                            <div class="sang"></div>
                            <div class="boou"><img src="images/boou.png" alt=""></div>
                            <div class="du_size">
                                <P>地址：岳阳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                                <P>电话：029-68829598</P>
                            </div>
                        </div>
                    </div>
                    <div class="mito">岳阳</div>
                </div>-->
            </div>
                
        </div>
                </div>
    </div>
    </div>
     
                    
                </div>
                  </div>
            </div>
       </div>
       </div>
       </div>
       </div>    
   
</div>


<div class="low page6">
            <p>版权所有：蓝金祛痘美肤堂           地址：天津市XXXX路XXXX号          邮编：300000
            制作维护：B&G小组      <br/>     津公网12010402000425</p>
        </div>
    </body>
</html>