body{
  font-family:"黑体";
}
.header{
    height:150px;width:100%;background-image:url("../image/bg-top1.jpg");}
.img{height:200px; width:100%; text-align:center;float:right;}
.nav{ height:36px;width:100%;background-image:url("../image/bg_bar.png");}#menu ul{margin:0 auto;padding:0;list-style:none;width:1000px;text-align:center;padding-left:10px;}
#menu ul li{background:;height:37px;line-height:37px;text-align:center;float:left;width:100px;margin-right:30px;padding-left:30px;}
#menu ul li a{color:white;text-decoration:none;display:block;width:154px;height:37px;font-size:18px;font-family:"黑体";}
#menu ul li a:hover{background-color:black;}
.clear{clear:both;}
#menu ul li ul{display:none;width:154px;position:relative;z-index:10;}
#menu ul li.listshow ul{display:block;}
#menu ul li ul li{float:none;margin:0;text-align:center;}
#menu ul li ul li a{text-align:center;color:white;font-size:15px;font-family:"黑体";background-image:url("../image/menu_bg.jpg");}
#menu ul li ul li a:hover{color:black;position:relative;z-index:10;}
.footer{ height:100px;background-image:url("../image/footer_bg.jpg");}
.footer p{padding-top:20px;text-align:center;color:white;font-size:12px;}
.container{width:100%;}
.nav_img{width:100%;height:400px;}
.bg_content{width:100%; height:100%;background-image:url("../image/nav_slide_bg.png");background-repeat:no-repeat;text-align:center;}
.nav_slide{text-align:center;padding-top:50px;position:relative;
top:20px}
.nav_slide p a{color:black;font-size:18px;text-decoration:none;}
.nav_slide p a:hover{color:red;}
.img_center{text-align:center;}
.bg_content1{height:100%;background-image:url("../image/content_bg1.png");background-repeat:no-repeat;text-align:center;}
.nav_slide1{text-align:center;padding-top:50px;}
.hover a{color:black; text-decoration:none;}
.bg_content2{width:100%;height:100%;background-image:url("../image/content_bg3.png");background-repeat:no-repeat;text-align:center;}
.hover a:hover{color:red;}
.hover p a{color:black; text-decoration:none;}
.hover p a:hover{color:blue;}
.user{height:100%;background-color:white;}