<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <head>
        <meta charset="utf-8">
        <title>蓝金祛痘美肤堂</title>
        <link href="__PUBLIC__/home/css/style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/home/js/script.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/home/css/footer.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/anli.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/footer.css">
        <link href="__PUBLIC__/home/css/style.css" type="text/css" rel="stylesheet" />
        
       
       
    
       
        
    </head>
    <body>
    <div class="header">  
        <div class="topNav" id="topNav">
            <div class="topNav2">
                <div class="navBox">
                    <div class="navIndexBg">
                        <div class="navIL"></div>
                        <div class="navIL navIR"></div>
                        <div class="navIM"></div>
                    </div>
                    <div class="navMain" id="navMain">
                        <!-- 主导航 -->
                          <div class="navIndex" id="navIndex">
                            <ul>
                                <li><a href="{:U('Home/index/index')}">首页</a></li>
                                <li><a href="{:U('Home/project/index')}">经营项目</a></li>
                                <li class="nav1"><a href="{:U('Home/product/index')}">产品一览</a></li>
                                <li><a href="{:U('Home/case/index')}">案例</a></li>
                                <li><a href="{:U('Home/lanjin/index')}">走进蓝金</a></li>
                                <li><a href="{:U('Home/user/index')}">用户专区</a></li>

                            </ul>
                        </div>
                        <div class="navSub" id="navSub">
                            <dl class="nav2">
                                <dt>经营项目</dt>
                                <dd><a href="{:U('Home/project/qd')}">祛痘</a></dd>
                                <dd><a href="{:U('Home/project/qy')}">祛印</a></dd>
                                <dd><a href="{:U('Home/project/pb')}">平疤</a></dd>
                                <dd><a href="{:U('Home/project/xf')}">修复</a></dd>
                                <dd><a href="{:U('Home/project/hfx')}">护肤</a></dd>
                            </dl>
                            <dl class="nav1">
                                <dt>产品一览</dt>
                                <dd><a href="{:U('Home/product/lj')}">蓝金组合系列</a></dd>
                                <dd><a href="{:U('Home/product/zy')}">中药祛痘系列</a></dd>
                                <dd><a href="{:U('Home/product/qypb')}">祛印平疤系列</a></dd>
                                <dd><a href="{:U('Home/product/hyxf')}">焕颜修复系列</a></dd>
                                <dd><a href="{:U('Home/product/mm')}">面膜系列</a></dd>
                            </dl>
                            <dl>
                                <dt>案例</dt>
                                <dd><a href="{:U('Home/case/qcd')}">青春痘治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/fc')}">粉刺治疗案例</a></dd>
                                <dd><a href="{:U('Home/case/pb')}">平疤案例</a></dd>
                                <dd><a href="{:U('Home/case/xf')}">修复案例</a></dd>
                                <dd><a href="{:U('Home/case/qt')}">其它案例</a></dd>
                            </dl>
                            <dl>
                                <dt>走进蓝金</dt>
                                <dd><a href="{:U('Home/lanjin/introduce')}">公司简介</a></dd>
                                <dd><a href="{:U('Home/lanjin/news')}">新闻资讯</a></dd>
                                <dd><a href="{:U('Home/lanjin/listcontactsx')}">联系我们</a></dd>
                            </dl>
                            <dl>
                                <dt>用户专区</dt>
                                <dd><a href="{:U('Home/user/zx')}">用户咨询</a></dd>
                                <dd><a href="{:U('Home/user/fb')}">用户反馈</a></dd>
                                <dd><a href="{:U('Home/user/yy')}">用户预约</a></dd>
                                <dd><a href="{:U('Home/user/my')}">美颜小贴士</a></dd>
                            </dl>
                        </div>
                        <!-- 二级 end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="logo"><img src="__PUBLIC__/home/images/logo2.png"></div>
    </div>
   <div class="dir main">
    当前位置：<a href="{:U('Home/index/index')}" style='#ffffff;'>首页</a> >> <a href="{:U('Home/product/index')}" >产品一览</a>
</div>
<div class="liuyan main">
    
<div class="liuyan_title">产品</div>

<volist name="product" id="vo">
<div class="wrapper" id="wrapper">                   
<div class="box">
     <div class="join-content">       
        <div class="partner-content">
            <div class="partner-intro">
                <img src="__PUBLIC__/{$vo.productpicture}">
            </div>
            <div class="people-intro">
                 
                <div class="anli">
                    <h6 class="anli-title" style=" text-align: center;">{$vo.productname}</h6>
           
                   
                    <p>{$vo.productintroduce}</p>
                     
  </div>
      </volist>
            </div>
       </div>
       </div>
       </div>
       </div>    
   
</div>


<!-- <div class="page" style="margin-top:-100px;text-align:center;margin-bottom:20px">
    <div class="pagebox">
        <a class="prep" href="#">
        <img class="off" src="__PUBLIC__/home/images/le.png" />
        <img class="on" style="display: none;" src="__PUBLIC__/home/images/leon.png" />
        </a>
       <a href="news.html?page=1&size=10">
       1
       </a>
       <a class="nextp" href="#">
       <img class="off" src="__PUBLIC__/home/images/ri.png" />
       <img class="on" style="display: none;" src="__PUBLIC__/home/images/rion.png" />
       </a>
        <span>共1页，到第</span>
        <input type="text" value="1" id="PageJump">
        <span>页</span>
    </div>
</div>
</div> -->


<div class="low page6">
            <p>版权所有：蓝金祛痘美肤堂           地址：天津市XXXX路XXXX号          邮编：300000
            制作维护：B&G小组      <br/>     津公网12010402000425</p>
        </div>
    </body>
</html>