.bglogo{
     position: absolute;
      top:0px;
     
     text-align: center;
     
     left:40%;
}

/*--navigation bar--*/
.nav-bar{
      
      margin-top:-40px;
      text-align:center;
      left:6%;
}
.bar-bottom{
    background-color: ;
    min-height: 12px;
}
.bar-header{
  position: relative;
}
.bar-bot {
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: -24px;
    width: 100%;
    box-shadow: 0 0 4px rgba(164,164,164,.5);
}
.bar-head {
  text-align: center;
    border-right:1px solid #EBEBEB;
    padding: 0; 
    float: left;
    width: 14.285%;
}
.navbar-media{
  position: absolute;
  bottom: 0;
  height: 120px;
  overflow: hidden;
  padding-left: 10px;
  padding-left: 10px;
    width: 100%;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .2s ease,height .2s ease;
  -moz-transition: -moz-transform .2s ease,height .2s ease;
  -o-transition: -o-transform .2s ease,height .2s ease;
  transition: transform .2s ease,height .2s ease;
}
.bar-head  h6{
  font-size: 1em;
  color:#9900FF;
  font-family: 'Montserrat-Regular';
  margin: 0.5em 0 0;
}
.bar-head:nth-child(7) {
  border-right: none;
}
.bar-head a {
    text-decoration: none;    
    display: block; 
    height: 120px;
    position: relative;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}





.bar-head a:hover .navbar-media{
  height:170px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom:0;
    left: 0;
}
.bar-head a:hover .navbar-media h6{
  color:#27da93;
}


.bar-head li ul li a { 

  text-transform: none;

  font-weight: 300;

  width: 100%;

  height: 100%;

  display: block;

}

.bar-head li ul li a:hover { 

  color: #ff7e00;

}




i.shouye{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -3px -39px ;
  display: block;
  margin: 0 auto;
}
i.xiangmu{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -37px -39px ;
  display: block;
  margin: 0 auto;
}
i.chanpin{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -72px -39px ;
  display: block;
  margin: 0 auto;
}

i.fangan{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -142px -39px ;
  display: block;
  margin: 0 auto;
}
i.anli{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -178px -39px ;
  display: block;
  margin: 0 auto;
}
i.xinwen{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -212px -39px ;
  display: block;
  margin: 0 auto;
}
i.yonghu{
  width: 32px;
  height: 32px;
  background: url(../images/img-sprite.png) no-repeat -248px -39px ;
  display: block;
  margin: 0 auto;
}
.bar-head a:hover i.shouye{
  background-position: -3px -83px ;
}
.bar-head a:hover i.xiangmu{
  background-position: -37px -80px ;
}
.bar-head a:hover i.chanpin{
  background-position: -72px -80px ;
}
.bar-head a:hover i.fangan{
  background-position: -142px -80px ;
}
.bar-head a:hover i.anli{
  background-position: -178px -80px ;
}
.bar-head a:hover i.xinwen{
  background-position: -212px -77px ;
}
.bar-head a:hover i.yonghu{
  background-position: -248px -80px ;
}
/*navigation bar bootstrap*/
*{
  -webkit-box-sizing: border-box;
 
    -moz-box-sizing: border-box;
    
      box-sizing: border-box;
}

.bar-container {

  padding-right: 15px;

  padding-left: 15px;
 
 margin-right: auto;
 
 margin-left: auto;
}
@media (min-width: 768px) {
  .bar-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bar-container{
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .bar-container {
    width: 1170px;
  }
}


/**/
.submenu li a{color:black;}
.submenu {
  
  left: 0;
  
  max-height: 0;
 
   position: absolute;
  
  top: 100%;
 
   z-index: 0;

 
   -webkit-perspective: 400px;

    -moz-perspective: 400px;

    -ms-perspective: 400px;
 
   -o-perspective: 400px;
 
   perspective: 400px;
}

.submenu li {
 
   opacity: 0;

  
  -webkit-transform: rotateY(90deg);
 
   -moz-transform: rotateY(90deg);
  
  -ms-transform: rotateY(90deg);
  
  -o-transform: rotateY(90deg);
  
  transform: rotateY(90deg);

 
   -webkit-transition: opacity .4s, -webkit-transform .5s;
 
   -moz-transition: opacity .4s, -moz-transform .5s;
  
  -ms-transition: opacity .4s, -ms-transform .5s;
 
   -o-transition: opacity .4s, -o-transform .5s;
  
  transition: opacity .4s, transform .5s;
}

.bar-head .submenu li:hover a {

    border-left: 3px solid #454545;
 
   border-radius: 0;
  
 color: #ffffff;
}

.bar-head > li:hover .submenu, .bar-head > li:focus .submenu {

    max-height: 2000px;
  
  z-index: 10;
}

.bar-head > li:hover .submenu li, .bar-head > li:focus .submenu li {
 
   opacity: 1;

   
 -webkit-transform: none;
 
   -moz-transform: none;
  
  -ms-transform: none;
  
  -o-transform: none;
   
 transform: none;
}


/* CSS3 delays for transition effects */

.bar-head li:hover .submenu li:nth-child(1) {

    -webkit-transition-delay: 0s;
  
  -moz-transition-delay: 0s;
  
  -ms-transition-delay: 0s;
 
   -o-transition-delay: 0s;
 
   transition-delay: 0s;
}

.bar-head li:hover .submenu li:nth-child(2) {
 
   -webkit-transition-delay: 50ms;
 
   -moz-transition-delay: 50ms;
 
   -ms-transition-delay: 50ms;
  
  -o-transition-delay: 50ms;
 
   transition-delay: 50ms;
}

.bar-head li:hover .submenu li:nth-child(3) {
 
   -webkit-transition-delay: 100ms;

    -moz-transition-delay: 100ms;

    -ms-transition-delay: 100ms;
 
   -o-transition-delay: 100ms;
 
   transition-delay: 100ms;
}

.bar-head li:hover .submenu li:nth-child(4) {
 
   -webkit-transition-delay: 150ms;

    -moz-transition-delay: 150ms;
 
   -ms-transition-delay: 150ms;

    -o-transition-delay: 150ms;

    transition-delay: 150ms;
}

.bar-head li:hover .submenu li:nth-child(5) {
  
  -webkit-transition-delay: 200ms;
 
   -moz-transition-delay: 200ms;

    -ms-transition-delay: 200ms;

    -o-transition-delay: 200ms;
 
   transition-delay: 200ms;
}

.bar-head li:hover .submenu li:nth-child(6) {
 
   -webkit-transition-delay: 250ms;

    -moz-transition-delay: 250ms;

    -ms-transition-delay: 250ms;
 
   -o-transition-delay: 250ms;

    transition-delay: 250ms;
}

.bar-head li:hover .submenu li:nth-child(7) {
 
   -webkit-transition-delay: 300ms;
 
   -moz-transition-delay: 300ms;

    -ms-transition-delay: 300ms;

    -o-transition-delay: 300ms;

    transition-delay: 300ms;
}

.bar-head li:hover .submenu li:nth-child(8) {
 
   -webkit-transition-delay: 350ms;
 
   -moz-transition-delay: 350ms;
 
   -ms-transition-delay: 350ms;
 
   -o-transition-delay: 350ms;
  
  transition-delay: 350ms;
}


.submenu li:nth-child(1) {
 
   -webkit-transition-delay: 350ms;

    -moz-transition-delay: 350ms;

    -ms-transition-delay: 350ms;
 
   -o-transition-delay: 350ms;

    transition-delay: 350ms;
}

.submenu li:nth-child(2) {
 
   -webkit-transition-delay: 300ms;

    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;

    -o-transition-delay: 300ms;

    transition-delay: 300ms;
}

.submenu li:nth-child(3) {
  
  -webkit-transition-delay: 250ms;

    -moz-transition-delay: 250ms;
 
   -ms-transition-delay: 250ms;
 
   -o-transition-delay: 250ms;
 
   transition-delay: 250ms;
}

.submenu li:nth-child(4) {
  
  -webkit-transition-delay: 200ms;

    -moz-transition-delay: 200ms;
 
   -ms-transition-delay: 200ms;
   
 -o-transition-delay: 200ms;
 
   transition-delay: 200ms;
}

.submenu li:nth-child(5) {
 
   -webkit-transition-delay: 150ms;
 
   -moz-transition-delay: 150ms;
 
   -ms-transition-delay: 150ms;
 
   -o-transition-delay: 150ms;
  
  transition-delay: 150ms;
}

.submenu li:nth-child(6) {
 
   -webkit-transition-delay: 100ms;

    -moz-transition-delay: 100ms;
 
   -ms-transition-delay: 100ms;

    -o-transition-delay: 100ms;
 
   transition-delay: 100ms;
}

.submenu li:nth-child(7) {
   
 -webkit-transition-delay: 50ms;

    -moz-transition-delay: 50ms;
 
   -ms-transition-delay: 50ms;
 
   -o-transition-delay: 50ms;
 
   transition-delay: 50ms;
}

.submenu li:nth-child(8) {

    -webkit-transition-delay: 0s;

    -moz-transition-delay: 0s;
 
   -ms-transition-delay: 0s;
 
   -o-transition-delay: 0s;
 
   transition-delay: 0s;
}
/**/


/* general styles */

.bar-head, .bar-head ul {
  
  list-style: none;

    padding: 0;

    margin: 0;

}

.bar-head li {
    background: -moz-linear-gradient(#CC99CC, #FFFFCC);

    background: -ms-linear-gradient(#CC99CC, #FFFFCC);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CC99CC), color-stop(100%, #FFFFCC));
 
   background: -webkit-linear-gradient(#CC99CC, #FFFFCC);
 
   background: -o-linear-gradient(#CC99CC, #FFFFCC);
 
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC99CC', endColorstr='#FFFFCC');
 
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC99CC', endColorstr='#FFFFCC')";
 
   background: linear-gradient(#CC99CC, #FFFFCC);


    

    min-width: 160px;
}

.bar-head > li {
  
  display: block;

    float: left;
 
   position: relative;

}

.bar-head > li:first-child {
 
   border-radius: 5px 0 0;

}


.bar-head a {

    border-left: 3px solid rgba(0, 0, 0, 0);

    color: #808080;
 
   display: block;
 
   font-family: 'Lucida Console';

    font-size: 18px;

    line-height: 54px;

    padding: 0 0px;
 
   text-decoration: none;

    text-transform: uppercase;

}


/* onhover styles */

.bar-head li:hover {
  
  background-color: #FFFFCC;

    background: -moz-linear-gradient(#FFFFCC, #1b1b1b);

    background: -ms-linear-gradient(#FFFFCC, #1b1b1b);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFCC), color-stop(100%, #1b1b1b));

    background: -webkit-linear-gradient(#FFFFCC, #1b1b1b);
    background: -o-linear-gradient(#FFFFCC, #1b1b1b);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCC', endColorstr='#1b1b1b');

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCC', endColorstr='#1b1b1b')";

    background: linear-gradient(#FFFFCC, #1b1b1b);

    border-bottom: 2px solid #222222;

    border-top: 2px solid #1B1B1B;
}

.bar-head li:hover > a {
 
   border-radius: 5px 0 0 0;

    border-left: 3px solid #C4302B;

    color: #C4302B;
}




/**/

.content-grid h3{
  text-align:center;
  color: #9900FF;
    font-size: 2em;
  
    font-family: 'Montserrat-Regular';
}
.content-grid h6{
  text-align:center;
  color: #9900FF;
    font-size: 1.5em;
  
    font-family: 'Montserrat-Regular';
}
.content-grid h3:after,.content-grid h3:before{
  width: 200px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  content:"";
  background:#CC00FF;
  margin: 0 1%;
}
.content-grid h6:after,.content-grid h6:before{
  width: 90px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  content:"";
  background:#CC00FF;
  margin: 0 1%;
}
.content-grid{
   margin-top:-100px;     
  background: url(../images/.jpg);
  width:100%;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   padding: 4em 0 5em;
}
.container1{
  background: url(../images/chibang1.jpg);
  background-repeat:repeat-x;
      position: ;
      margin-top:150px;
      left:0px;
     text-align: center;
    width:100%;
}
.content-grid1{
     
  background: url(../images/beijing51.gif) ;
  width:100%;
  min-height: 220px;
    text-align:center;
}


/*--- slider-css --*/
.slider {
  position: relative;
  margin-bottom:-50px;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #fff;
  border-radius:50px;
}
.callbacks_here a:after{
  background:#000;
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: 14%;
    z-index: 999;
    right: 10%;
}
.caption{
  position: absolute;
  top: 43%;
    left: 13%;
}
.caption h3{
  color: #fff;
  font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat-Regular';
    padding: 0 0 0.3em;
}
.caption h3 span{
  border-bottom: 7px solid #27DA93;
}
.caption p{
  color: #fff;
  font-size: 1.7em;
  margin: 0.5em 0em 0;
}
.banner{margin-top:-100px;margin-bottom:-20px;
height:500px;}
.banner1{
  
  width:100%;
  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.banner2{
  
  width:100%;
  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.banner3{
  
  width:100%;
  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media(max-width:768px){  
.banner1,.banner2,.banner3 {
  min-height: 500px;
}
