<layout name='viewadmin' />
<div class="container">
		<div class="public-nav">您当前的位置：<a href="{:U('Admin/program/add')}">方案添加</a></div>
		<div class="public-content">
			<div class="public-content-header">
				<h3>添加方案</h3>
			</div>
			<div class="public-content-cont">
			<form action="{:U('Admin/program/store')}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="">请选择分类</label>
					<select name="" class="form-select">
					    <option value="">请选择分类</option>
						<option value="19">内调外治平衡疗法</option>
                                    <option value="20">纯中药外用治疗</option>
                                    <option value="21">物理疗法</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">方案名称</label>
					<input class="form-input-txt" type="text" name="programname" value="" />
				</div>
				
				<div class="form-group">
					<label for="">宣传图片</label>
					 <input type="file" name="programxcpic">

					<!-- <input class="form-input-txt" type="text" name="pimg" value="" /> -->
					<!-- <div class="file"><input type="file" class="form-input-file" name="pimg"/>选择文件</div> -->
					<!-- <div class="file"><input type="submit" class="form-input-file"/>上传</div> -->
					<a href="#">预览</a>
				</div>
				<div class="form-group">
					<label for="">方案图片</label>
					 <input type="file" name="programpicture">

					<!-- <input class="form-input-txt" type="text" name="pimg" value="" /> -->
					<!-- <div class="file"><input type="file" class="form-input-file" name="pimg"/>选择文件</div> -->
					<!-- <div class="file"><input type="submit" class="form-input-file"/>上传</div> -->
					<a href="#">预览</a>
				</div>
				<div class="form-group">
					<label for="">方案介绍</label>
					<textarea id="editor_id" name="programintro"  class="form-input-textara" style="width:700px;height:300px;">
						&lt;strong&gt;方案内容&lt;/strong&gt;
					</textarea> 
				</div>
				
				<div class="form-group">
					<label for="">适用人群</label>
					<input class="form-input-txt" type="text" name="programcroud" value="" />
				</div>
				<div class="form-group">
					<label for="">方案所属项目</label>
					<input class="form-input-txt" type="text" name="project" value="" />
				</div>
				<div class="form-group">
					<label for="">治疗案例</label>
					<input class="form-input-txt" type="text" name="case" value="" />
				</div>
				<div class="form-group" style="margin-left:150px;">
					<input type="submit" onclick="tianjia()" class="sub-btn" value="提  交" />
					
					<input type="reset" class="sub-btn" value="重  置" />
				</div>
				</form>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/admin/js/kindeditor-all-min.js"></script>
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script>
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>