<layout name='viewadmin' />
<div class="container">
		<div class="public-nav">您当前的位置：<a href="{:U('Admin/case/add')}">案例添加</a></div>
		<div class="public-content">
			<div class="public-content-header">
				<h3>添加案例</h3>
			</div>
			<div class="public-content-cont">
			<form action="{:U('Admin/case/store')}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="">请选择分类</label>
					<select name="" class="form-select">
					    <option value="">请选择分类</option>
						<option value="19">青春痘治疗案例</option>
                                    <option value="20">痤疮治疗案例</option>
                                    <option value="21">粉刺治疗案例</option>
                                    <option value="22">皮炎治疗案例</option>
                        
                                    <option value="23">平疤案例</option>
                                    <option value="24">修复案例</option>
                                    <option value="25">其他案例</option>
					</select>

				</div>
				<div class="form-group">
					<label for="">类型</label>
					<input class="form-input-txt" type="text" name="class" value="" />
				</div>
				<div class="form-group">
					<label for="">案例名称</label>
					<input class="form-input-txt" type="text" name="cname" value="" />
				</div>
				<div class="form-group">
					<label for="">过程介绍</label>
					<textarea id="editor_id" name="cintro1"  class="form-input-textara" style="width:700px;height:300px;"></textarea>
				</div>
				<div class="form-group">
					<label for="">方案介绍</label>
					<textarea id="editor_id" name="cintro2"  class="form-input-textara" style="width:700px;height:300px;"></textarea>
				</div>
				<div class="form-group">
					<label for="">对比图1</label>
					<input class="form-input-txt" type="file" name="cpicture1" value="" />
			
				</div>
				<div class="form-group">
					<label for="">对比图2</label>
					<input class="form-input-txt" type="file" name="cpicture2" value="" />
			
				</div>

				
				<div class="form-group" style="margin-left:150px;">
					<input type="submit" onclick="tianjia()" class="sub-btn" value="提  交" />
					<script>
                        function tianjia(){
                              alert("添加成功！");
                         }
                    </script>
					<input type="reset" class="sub-btn" value="重  置" />
				</div>
				</form>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/admin/js/kindeditor-all-min.js"></script>
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script>
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>