<layout name='viewadmin' />
<div class="container">
		<div class="public-nav">您当前的位置：<a href="{:U('Admin/series/add')}">添加系列</a></div>
		<div class="public-content">
			<div class="public-content-header">
				<h3>添加系列</h3>
			</div>
			<div class="public-content-cont">
			<form action="{:U('Admin/series/store')}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="">请选择分类</label>
					<select name="" class="form-select">
					    <option value="">请选择分类</option>
						<option value="19">祛痘项目</option>
                                    <option value="20">祛印项目</option>
                                    <option value="21">平疤项目</option>
                                    <option value="22">修复项目</option>
                        
                                    <option value="23">护肤项目</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">系列名称</label>
					<input class="form-input-txt" type="text" name="seriesname" value="" />
				</div>
				
				
				<div class="form-group">
					<label for="">系列简介</label>
					<textarea class="form-input-textara" type="text" name="seriesintroduce"></textarea>
				</div>
				
                <div class="form-group">
					<label for="">宣传图</label>
			
					 <input type="file" name="seriespicture">

					<!--  <input class="form-input-txt" type="text" name="pimg" value="" /> 
					<div class="file"><input type="file" class="form-input-file" name="pimg"/>选择文件</div> 
					 <div class="file"><input type="submit" class="form-input-file"/>上传</div> 
					<a href="#">预览</a> -->
				</div>
				
				
				<div class="form-group" style="margin-left:150px;">
					<input type="submit" onclick="tianjia()" class="sub-btn" value="提  交" />
					
					<input type="reset" class="sub-btn" value="重  置" />
				</div>
				</form>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/admin/js/kindeditor-all-min.js"></script>
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script>
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
